/*
bkg = #2b2b2b
hdg = #fff
txt = #BEBEBE
brd = #e1e1e1
shw = #171717
dsqs = #BEBEBE
bannerop = 0.8
*/
/*
bkg = #e4887f
hdg = #fff
txt = #ffdedb
brd = #ffcbc6
shw = #dc7b72
dsqs = #BEBEBE
bannerop = 0.6
*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon-selection/icomoon.eot");
  src: url("../fonts/icomoon-selection/icomoon.eot?#iefix") format('embedded-opentype'), url("../fonts/icomoon-selection/icomoon.ttf") format('truetype'), url("../fonts/icomoon-selection/icomoon.woff") format('woff'), url("../fonts/icomoon-selection/icomoon.svg#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  color: #959595;
  font: 18px/26px 'Roboto', sans-serif;
  width: 100%;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.6em;
}
h5 {
  font-size: 1.4em;
}
h6 {
  font-size: 1.2em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #505050;
  font-family: 'Poly', serif;
  font-weight: normal;
  line-height: 1.4em;
}
a {
  color: #505050;
  text-decoration: none;
}
#themecover_willsong {
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 102%;
  left: 0;
  position: fixed;
  top: 0;
  width: 102%;
  z-index: -100;
}
#indexhead_willsong {
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 4px 8px #bebebe;
  padding-bottom: 50px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 40;
}
#indexhead_willsong #description_willsong {
  position: relative;
  margin: 0px auto;
}
#indexhead_willsong #blogname_willsong {
  border: 3px solid #505050;
  color: #505050;
  display: inline-block;
  margin: 50px 10px;
  padding: 0 10px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
#indexhead_willsong #blogname_willsong h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
  line-height: 0em;
}
#indexhead_willsong #logo_willsong {
  max-height: 150px;
  position: relative;
  max-width: 280px;
  margin: 50px 10px;
}
#posthead_willsong {
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 4px 8px #bebebe;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 40;
}
#posthead_willsong #description_willsong {
  position: relative;
  margin: 0px auto;
}
#posthead_willsong #blogname_willsong {
  border: 3px solid #505050;
  color: #505050;
  display: inline-block;
  margin: 30px 10px;
  padding: 0 10px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
#posthead_willsong #blogname_willsong h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
  line-height: 0em;
}
#posthead_willsong #logo_willsong {
  max-height: 100px;
  position: relative;
  max-width: 200px;
  margin: 10px;
}
#main_willsong {
  background-color: #fff;
  box-shadow: 0 4px 8px #bebebe;
  overflow: hidden;
  padding: 40px 0;
  position: relative;
  z-index: 20;
  width: 100%;
}
#main_willsong #articles_willsong {
  position: relative;
  margin: 0px auto;
}
#main_willsong #articles_willsong .article_willsong {
  position: relative;
  margin-bottom: 50px;
}
#main_willsong #articles_willsong .article_willsong .postdetails_willsong,
#main_willsong #articles_willsong .article_willsong .mainright_willsong {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}
#main_willsong #articles_willsong .article_willsong .mainright_willsong {
  margin-top: 150px;
  opacity: 0;
}
#main_willsong #articles_willsong .article_willsong .postcontent_willsong a {
  text-decoration: underline;
}
#main_willsong #articles_willsong .article_willsong .postcontent_willsong img {
  height: auto;
  position: relative;
  width: 100%;
}
#main_willsong #articles_willsong .article_willsong .postcontent_willsong p:last-child:after {
  content: "...";
}
#main_willsong #articles_willsong .article_willsong .readmore_willsong {
  border: 1px solid #505050;
  border-radius: 4px;
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  margin: 30px 0;
  padding: 5px 10px;
}
#main_willsong #articles_willsong .article_willsong .lores_postdetails_willsong {
  margin-bottom: 20px;
  position: relative;
  font-size: 0.8em;
}
#main_willsong #articles_willsong .article_willsong .lores_postdetails_willsong time {
  margin-right: 20px;
}
#main_willsong #thearticle_willsong {
  position: relative;
  margin: 0px auto;
}
#main_willsong #thearticle_willsong .articledetails_willsong {
  font-size: 0.8em;
  margin-bottom: 40px;
}
#main_willsong #thearticle_willsong .articledetails_willsong .date_willsong {
  margin-right: 20px;
}
#main_willsong #thearticle_willsong .postcontent_willsong a {
  text-decoration: underline;
}
#main_willsong #thearticle_willsong .postcontent_willsong blockquote {
  border-left: 5px solid #505050;
  padding: 1px 0 1px 40px;
  margin: 0;
}
#main_willsong #thearticle_willsong .postcontent_willsong input[type="text"] {
  border: 1px solid #959595;
  border-radius: 4px;
  padding: 5px 10px;
}
#main_willsong #thearticle_willsong .postcontent_willsong input[type="text"]:focus {
  outline: none;
}
#main_willsong #thearticle_willsong .postcontent_willsong img {
  max-width: 100%;
  height: auto;
}
#main_willsong #thearticle_willsong #author_willsong {
  margin-bottom: 70px;
  position: relative;
}
#main_willsong #thearticle_willsong #author_willsong #authorimage_willsong {
  border-radius: 50%;
  float: left;
  height: 150px;
  margin-right: 20px;
  overflow: hidden;
  width: 150px;
}
#main_willsong #thearticle_willsong #author_willsong #authorimage_willsong img {
  height: auto;
  width: 100%;
}
#main_willsong #thearticle_willsong #author_willsong #authorname_willsong {
  color: #505050;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 2em;
}
#main_willsong #thearticle_willsong #author_willsong #authorwebsite_willsong {
  text-decoration: underline;
}
#main_willsong #thearticle_willsong #sharepost_willsong {
  border-bottom: 1px solid #bebebe;
  border-top: 1px solid #bebebe;
  color: #505050;
  margin: 70px 0;
  padding: 20px 0;
  position: relative;
  text-align: center;
}
#main_willsong #thearticle_willsong #sharepost_willsong .sharelink_willsong {
  color: #959595;
  margin: 0 5px;
  font-size: 1.4em;
}
#main_willsong #pagination_willsong {
  padding: 10px 0;
  margin: 20px 0;
  position: relative;
  text-align: center;
}
#main_willsong #pagination_willsong .older-posts,
#main_willsong #pagination_willsong .newer-posts {
  border: 1px solid #505050;
  border-radius: 4px;
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  padding: 5px 10px;
  position: absolute;
  top: 0;
}
#main_willsong #pagination_willsong .older-posts {
  right: 0;
}
#main_willsong #pagination_willsong .newer-posts {
  left: 0;
}
#main_willsong #disqus_thread {
  background-color: #959595;
  margin: 70px auto;
  padding: 3%;
  position: relative;
  width: 94%;
}
footer {
  background-color: rgba(255,255,255,0.8);
  overflow: hidden;
  padding: 20px 0;
  position: relative;
  text-align: center;
  z-index: 0;
}
footer a {
  text-decoration: underline;
}
footer #copyright_willsong {
  color: #505050;
  font-size: 0.8em;
  font-weight: 700;
  position: relative;
}
footer #socialmedia_willsong {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
footer #socialmedia_willsong .sociallink_willsong {
  text-decoration: none;
  margin: 5px;
  font-size: 1.4em;
}
@media screen and (min-width: 320px) {
  .respowidth_willsong {
    width: 300px;
    overflow: hidden;
  }
  .article_willsong {
    border-bottom: 1px solid #bebebe;
  }
  #pagination_willsong {
    font-size: 0.8em;
  }
  #pagination_willsong .page-number {
    opacity: 0;
  }
  .postdetails_willsong {
    width: 0;
  }
  .mainright_willsong {
    width: 100%;
  }
}
@media screen and (min-width:480px) {
  .respowidth_willsong {
    width: 440px;
  }
  #pagination_willsong {
    font-size: 0.8em;
  }
  #pagination_willsong .page-number {
    opacity: 1;
  }
}
@media screen and (min-width:768px) {
  .respowidth_willsong {
    width: 720px;
  }
  .article_willsong {
    border-bottom: none;
  }
  #pagination_willsong {
    font-size: 1em;
  }
  .postdetails_willsong {
    color: #505050;
    font-size: 0.8em;
    width: 180px;
    padding-right: 10px;
    padding-top: 3em;
  }
  .mainright_willsong {
    width: 515px;
    padding-left: 14px;
    border-left: 1px solid #bebebe;
  }
  .lores_postdetails_willsong {
    display: none;
  }
}
@media screen and (min-width:960px) {
  .respowidth_willsong {
    width: 920px;
  }
  .postdetails_willsong {
    width: 190px;
    padding-right: 10px;
  }
  .mainright_willsong {
    width: 700px;
    padding-left: 19px;
  }
}
@media screen and (min-width:1280px) {
  .respowidth_willsong {
    width: 1240px;
  }
  .mainright_willsong {
    width: 1020px;
    padding-left: 19px;
  }
}
.icon-facebook:before {
  content: "\e600";
}
.icon-feed:before {
  content: "\e601";
}
.icon-twitter:before {
  content: "\e602";
}
.icon-google-plus:before {
  content: "\e603";
}
.icon-vimeo2:before {
  content: "\e604";
}
.icon-linkedin:before {
  content: "\e605";
}
.icon-flickr:before {
  content: "\e606";
}
.icon-github:before {
  content: "\e607";
}
.icon-wordpress:before {
  content: "\e608";
}
.icon-pinterest:before {
  content: "\e609";
}
.icon-instagram:before {
  content: "\e60a";
}
.icon-soundcloud:before {
  content: "\e60b";
}
.icon-tumblr:before {
  content: "\e60c";
}
.icon-blogger:before {
  content: "\e60d";
}
.icon-youtube:before {
  content: "\e60e";
}
.icon-tag:before {
  content: "\e60f";
}
.icon-clock:before {
  content: "\e610";
}
.icon-user:before {
  content: "\e611";
}
