{{! The social media footer template }}

{{! Change the href attributes to your real accounts urls}}

<div id="socialmedia_willsong">
	<a href="https://www.facebook.com/Crystalmyst" class="sociallink_willsong"><span class="icon-facebook"></span></a>
	<!-- <a href="#" class="sociallink_willsong"><span class="icon-feed"></span></a> -->
</div>
